@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import 'primeicons/primeicons.css';
@tailwind components;
@tailwind utilities;
@tailwind base;

html,
body {
  font-family: 'Ubuntu', sans-serif;
  @apply bg-white;
}

html {
  @apply pt-16;
}

@media print {
  body {
    visibility: hidden;
  }

  #print-area {
    visibility: visible;
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;

    .masonry-wall {
      flex-direction: column;
      display: flex;
    }
  }
}
